## 변수에 이름/학교/학과 형식으로 저장하고 format을 사용해print하시오(이름/학교/학과는 각각 input을 활용해 입력

In [2]:
a=input()
b=input()
c=input()
d="{}/{}/{}".format(a,b,c)
print(d)

서정원
강원대
AI
서정원/강원대/AI

## 위에서 생성된 이름/학교/학과 라는 문자를 이름-학교-학과로 변환하시오

In [3]:
d.replace("/","-")

'서정원-강원대-AI'

## 안녕하세요 저는 AI소프트웨어학과 학생입니다. 만나서 반갑습니다. 라는 문장을 만들어서 반갑습니다. 라는 문장만 따로 print하시오

In [4]:
a="안녕하세요 저는 AI소프트웨어학과 학생입니다. 만나서 반갑습니다."
print(a[-6:])

반갑습니다.

## 위에서 저장된 변수에서 학교이름만 나오도록 print하시오

In [5]:
d[4:9]

'강원대/A'

## 주어진 이름(Jone-30, Park-30, Kim-20, Lee-10, Oh-32, Kang-25)을 name이란 리스트를 만들고 Lee를 가진 사람의 성만 따로 도출하시오

In [6]:
name=["Jone-30", "Park-30", "Kim-20", "Lee-10", "Oh-32", "Kang-25"]
name[3][:name[3].index("-")]

'Lee'

## 20, 50, 76, 10, 59, 22, 40 ,50, 77, 52의 숫자를 하나의 리스트에 저장하시오

In [7]:
num=[20, 50, 76, 10, 59, 22, 40 ,50, 77, 52]

## 위에서 저장된 리스트에서 20, 50, 76, 10만 print하시오

In [8]:
num[:4]

[20, 50, 76, 10]

## 위에서 저장된 리스트에서 77만 print하시오

In [9]:
num[-2]
#또는
num[8]

77

## 위에서 저장된 리스트에서 음수를 활용해 77, 52를 가지고오시오

In [10]:
num[-2:]

[77, 52]

# -------------------------------------------

## 하나의 변수에 성명/전화번호 형식으로 저장하고 print하시오

In [3]:
pb = {"seo" : "010-1234-5678", "kim" : "010-2356-7856"}

In [4]:
print(pb)

{'seo': '010-1234-5678', 'kim': '010-2356-7856'}

## 위에서 저장된 변수에서 전화번호 중간 번호 4자리만 print하시오

In [11]:
pb['seo'][4:8]

'1234'

## 주어진 과일이름(사과, 포도, 복숭아, 참외, 수박, 바나나)에 대해 fruits란 리스트를 만들고 각각을 format을 활용해 print 하시오

In [37]:
fruits = ["사과", "포도", "복숭아", "참외", "수박", "바나나"]

In [38]:
print(f"{fruits[0]}, {fruits[1]}, {fruits[2]}, {fruits[3]}, {fruits[4]}, {fruits[5]}")

사과, 포도, 복숭아, 참외, 수박, 바나나

In [39]:
for i in fruits:
    print(i)

사과
포도
복숭아
참외
수박
바나나

## fruits에서 복숭아와 바나나 값을 제거하고 멜론과 파인애플을 추가하시오

In [28]:
fruits.pop(2)

'복숭아'

In [29]:
fruits.pop(4)

'바나나'

In [30]:
fruits

['사과', '포도', '참외', '수박']

In [31]:
fruits.append("멜론")
fruits.append("파인애플")

In [32]:
fruits

['사과', '포도', '참외', '수박', '멜론', '파인애플']

## AI소프트웨어 학과 홈페이지를 들어가 교수님들의 연구실 위치를 키 값으로 하고 이에 대해 교수님들이름을 저장하고 Ai라고 변수명을 설정하시오

In [33]:
AI = {"김창균" : "516호", "이두호" : "506호"}

## 위의 문제에서 정의된 Ai변수에 명예교수님을 추가하시오 키값 없으므로 특정 번호로 추가

In [34]:
## 위의 문제에서 정의된 Ai변수에 명예교수님을 추가하시오 키값 없으므로 특정 번호로 추가
AI["501호"] = "서정원"

In [35]:
AI

{'김창균': '516호', '이두호': '506호', '501호': '서정원'}