## 100m 달리기 아래는 달리기 성적 기록이다. 이때 9초 이상 11초 미만 합격, 11초 이상 13초 미만 재시험, 13초 초과 불합격을 프린트하시오

* input을 활용해 만들기
* 9, 10, 11, 12, 15, 25, 13, 12, 9.5, 10.6, 11.2, 9.5

In [26]:
record = float(input("기록을 입력해주세요: "))
if record >= 9 and record < 11:
    print("합격")
elif record >= 11 and record < 13:
    print("재시험")
elif record >= 13:
    print("불합격")
else:
    print("시간을 입력해주세요")

기록을 입력해주세요: 11.5
재시험

In [13]:
record = [9, 10, 11, 12, 15, 25, 13, 12, 9.5, 10.6, 11.2, 9.5]

In [14]:
for i in record:
    if i >= 9 and i < 11:
        print("합격")
    elif i >= 11 and i < 13:
        print("재시험")
    elif i >= 13:
        print("불합격")

합격
합격
재시험
재시험
불합격
불합격
불합격
재시험
합격
합격
재시험
합격

## 짜장면 : 10,000원, 짬뽕 : 11,000원, 탕수육 22,000원, 볶음밥 : 9,000원을 딕셔너리 형태로 저장하고 메뉴 이름과 금액을 각각 다른 리스트에 저장해 두 개의 리스트로 만들어서 프린트하시오(for 문 사용)

In [49]:
menu = {"짜장면" : 10000, "짬뽕" : 11000, "탕수육" : 22000, "볶음밥" : 9000}

In [50]:
names = []
prices = []

In [51]:
for i in menu.keys():
    a = i
    names.append(a)
print(names)

['짜장면', '짬뽕', '탕수육', '볶음밥']

In [52]:
for i in menu.values():
    a = i
    prices.append(a)
print(prices)

[10000, 11000, 22000, 9000]

## 10명의 학생이 있다 각 학생들은 중국집에서 한가지 메뉴를 주문 할 수 있다. 이때 위에서 만든 메뉴판을 활용해 각각 학생들이 한가지 메뉴를 입력하게 하고 메뉴들의 총 합을 더해서 프린트하시오(리스트를 활용해 문제해결)

In [55]:
total = []

for i in range(1, 11):
    pick= input(f"{i}번 학생의 주문 : ")
    if pick == "짜장면":
        total.append(prices[0])
    elif pick == "짬뽕":
        total.append(prices[1])
    elif pick == "탕수육":
        total.append(prices[2])
    elif pick == "볶음밥":
        total.append(prices[3])

print(f"{sum(total)}")

1번 학생의 주문 : 짜장면
2번 학생의 주문 : 짜장면
3번 학생의 주문 : 짜장면
4번 학생의 주문 : 짜장면
5번 학생의 주문 : 짜장면
6번 학생의 주문 : 짜장면
7번 학생의 주문 : 짜장면
8번 학생의 주문 : 짜장면
9번 학생의 주문 : 짜장면
10번 학생의 주문 : 짜장면
100000

## 10명의 학생이 있다 각 학생들은 중국집에서 한가지 메뉴를 주문 할 수 있다. 이때 위에서 만든 메뉴판을 활용해 각각 학생들이 한가지 메뉴를 입력하게 하고 메뉴들의 총 합을 더해서 프린트하시오(딕셔러니를 활용해 문제 해결)

## while문을 사용해 1부터 10까지 프린트 하시오


*   i+=1 이 의미는 i에 +1을 해서 이것을 다시 i에 저장해준다는 뜻

1
2
3
4
5
6
7
8
9
10

## while문을 사용해 1부터 10까지 프린트 하시오 이때 i가 3의 배수이면 while문을 멈춰주세요

1
2

## while문을 사용해 1부터 10까지 프린트 하시오 이때 i가 3의 배수가 아닌값만 프린트 하시오

1
2
4
5
7
8
10

## 리스트에 라면, 3000, 생수, 2500, 과자,1500, 삼각김밥, 1000을 저장하고 리스트에서 메뉴명과 금액을 각각 따로 빼서 menu, money의 이름을 가지는 리스트로 각각 만드시오

In [71]:
list = ["라면", 3000, "생수", 2500, "과자", 1500, "삼각김밥", 1000]

In [73]:
type(list[1])

int

In [74]:
menus = []
prices = []

for i in list:
    if type(i) == str:
        menus.append(i)
    elif type(i) == int:
        prices.append(i)

In [76]:
print(menus)
print(prices)

['라면', '생수', '과자', '삼각김밥']
[3000, 2500, 1500, 1000]

## while, for, if문을 활용해 아래와 같은 결과가 나오도록 만드시오

In [77]:
for i, j in zip(menus, prices):
    print(f"{i}: {j}원")

라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원

In [78]:
total = []

while True:
    for i, j in zip(menus, prices):
        print(f"{i}: {j}원")
    order = input("구매하고 싶은 품목을 선택하세요(그만하시려면 done) : ")

    if order == "라면":
        print(f"{order}의 가격은 {prices[0]}원입니다.")
        print("**************************************************")
        total.append(prices[0])
    elif order == "생수":
        print(f"{order}의 가격은 {prices[1]}원입니다.")
        print("**************************************************")
        total.append(prices[1])
    elif order == "과자":
        print(f"{order}의 가격은 {prices[2]}원입니다.")
        print("**************************************************")
        total.append(prices[2])
    elif order == "삼각김밥":
        print(f"{order}의 가격은 {prices[3]}원입니다.")
        print("**************************************************")
        total.append(prices[3])
    elif order == "done":
        print(f"총 금액은 {sum(total)}원 입니다.")
        break

라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요(그만하시려면 done) : 라면
라면의 가격은 3000원입니다.
**************************************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요(그만하시려면 done) : 생수
생수의 가격은 2500원입니다.
**************************************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요(그만하시려면 done) : 삼각김밥
삼각김밥의 가격은 1000원입니다.
**************************************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요(그만하시려면 done) : 과자
과자의 가격은 1500원입니다.
**************************************************
라면: 3000원
생수: 2500원
과자: 1500원
삼각김밥: 1000원
구매하고 싶은 품목을 선택하세요(그만하시려면 done) : done
총 금액은 8000원 입니다.