# 인공지능 테스트 1번
 - name과 age 변수를 만들어 print와 format을 활용해 name변수에는 이름, age변수에는 나이를 입력해 결과를 프린트 하시오.

In [4]:
name = input()

서정원

In [6]:
age = int(input())

25

In [9]:
print(f"이름은 {name}이고 나이는 {age}살입니다.")

이름은 서정원이고 나이는 25살입니다.

# 교수님 답

In [3]:
name = input()
age = int(input())

서정원
25

In [5]:
name

'서정원'

In [6]:
age

25

In [8]:
print(("이름 : {} 나이 : {}").format(name, age))

이름 : 서정원 나이 : 25

# 인공지능 테스트 2번
 - 1단부터 9단까지 구구단을 만드시오.

In [15]:
num = (1,2,3,4,5,6,7,8,9)

In [18]:
num[0]

1

In [41]:
for i in range(1,10):
    print(f"------------{i}단------------")
    for j in range(1, 10):
        print(f"구구단 : {i} X {j} = {i*j}입니다.")

------------1단------------
구구단 : 1 X 1 = 1입니다.
구구단 : 1 X 2 = 2입니다.
구구단 : 1 X 3 = 3입니다.
구구단 : 1 X 4 = 4입니다.
구구단 : 1 X 5 = 5입니다.
구구단 : 1 X 6 = 6입니다.
구구단 : 1 X 7 = 7입니다.
구구단 : 1 X 8 = 8입니다.
구구단 : 1 X 9 = 9입니다.
------------2단------------
구구단 : 2 X 1 = 2입니다.
구구단 : 2 X 2 = 4입니다.
구구단 : 2 X 3 = 6입니다.
구구단 : 2 X 4 = 8입니다.
구구단 : 2 X 5 = 10입니다.
구구단 : 2 X 6 = 12입니다.
구구단 : 2 X 7 = 14입니다.
구구단 : 2 X 8 = 16입니다.
구구단 : 2 X 9 = 18입니다.
------------3단------------
구구단 : 3 X 1 = 3입니다.
구구단 : 3 X 2 = 6입니다.
구구단 : 3 X 3 = 9입니다.
구구단 : 3 X 4 = 12입니다.
구구단 : 3 X 5 = 15입니다.
구구단 : 3 X 6 = 18입니다.
구구단 : 3 X 7 = 21입니다.
구구단 : 3 X 8 = 24입니다.
구구단 : 3 X 9 = 27입니다.
------------4단------------
구구단 : 4 X 1 = 4입니다.
구구단 : 4 X 2 = 8입니다.
구구단 : 4 X 3 = 12입니다.
구구단 : 4 X 4 = 16입니다.
구구단 : 4 X 5 = 20입니다.
구구단 : 4 X 6 = 24입니다.
구구단 : 4 X 7 = 28입니다.
구구단 : 4 X 8 = 32입니다.
구구단 : 4 X 9 = 36입니다.
------------5단------------
구구단 : 5 X 1 = 5입니다.
구구단 : 5 X 2 = 10입니다.
구구단 : 5 X 3 = 15입니다.
구구단 : 5 X 4 = 20입니다.
구구단 : 5 X 5 = 25입니다.
구구단 : 5 X 6 = 30입니다.
구구단 : 5 X 7 = 35입니다.
구구단 : 5 X 8 = 40입니다.
구구단 : 5 X 9 = 45입니다.
------------6단------------
구구단 : 6 X 1 = 6입니다.
구구단 : 6 X 2 = 12입니다.
구구단 : 6 X 3 = 18입니다.
구구단 : 6 X 4 = 24입니다.
구구단 : 6 X 5 = 30입니다.
구구단 : 6 X 6 = 36입니다.
구구단 : 6 X 7 = 42입니다.
구구단 : 6 X 8 = 48입니다.
구구단 : 6 X 9 = 54입니다.
------------7단------------
구구단 : 7 X 1 = 7입니다.
구구단 : 7 X 2 = 14입니다.
구구단 : 7 X 3 = 21입니다.
구구단 : 7 X 4 = 28입니다.
구구단 : 7 X 5 = 35입니다.
구구단 : 7 X 6 = 42입니다.
구구단 : 7 X 7 = 49입니다.
구구단 : 7 X 8 = 56입니다.
구구단 : 7 X 9 = 63입니다.
------------8단------------
구구단 : 8 X 1 = 8입니다.
구구단 : 8 X 2 = 16입니다.
구구단 : 8 X 3 = 24입니다.
구구단 : 8 X 4 = 32입니다.
구구단 : 8 X 5 = 40입니다.
구구단 : 8 X 6 = 48입니다.
구구단 : 8 X 7 = 56입니다.
구구단 : 8 X 8 = 64입니다.
구구단 : 8 X 9 = 72입니다.
------------9단------------
구구단 : 9 X 1 = 9입니다.
구구단 : 9 X 2 = 18입니다.
구구단 : 9 X 3 = 27입니다.
구구단 : 9 X 4 = 36입니다.
구구단 : 9 X 5 = 45입니다.
구구단 : 9 X 6 = 54입니다.
구구단 : 9 X 7 = 63입니다.
구구단 : 9 X 8 = 72입니다.
구구단 : 9 X 9 = 81입니다.

# 교수님 답

In [11]:
for i in range(1,10):
    print(("----------{}단----------").format(i))
    for j in range(1,10):
        print(("{}X{}={}").format(i, j, i*j))

----------1단----------
1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
----------2단----------
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
----------3단----------
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
----------4단----------
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
----------5단----------
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
----------6단----------
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
----------7단----------
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
----------8단----------
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
----------9단----------
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81

# 인공지능 테스트 3번
 - [60, 80, 95, 69, 90, 81, 80, 69, 79, 66, 70, 90, 96]를 리스트로 변환하고 90이상 a 80점이상 b 70점이상 c 60이상 d 나머지는 f

In [59]:
exam = [60, 80, 95, 69, 90, 81, 80, 69, 79, 66, 70, 90, 96]

In [60]:
exam

[60, 80, 95, 69, 90, 81, 80, 69, 79, 66, 70, 90, 96]

In [64]:
exam =

In [66]:
exam

list[[60, 80, 95, 69, 90, 81, 80, 69, 79, 66, 70, 90, 96]]

In [54]:
if(exam >= 90):
    print(f"당신의 성적은{}이므로 점수는 A입니다.")

TypeError: '>=' not supported between instances of 'list' and 'int'

# 교수님 답

In [12]:
exam = [60, 80, 95, 69, 90, 81, 80, 69, 79, 66, 70, 90, 96]

In [14]:
for i in exam :
    if i >= 90:
        print("A")
    elif i >=80:
        print("B")
    elif i >=70:
        print("C")
    elif i >=60:
        print("D")
    elif i < 60:
        print("F")
    else:
        print("정확한 값을 입력해주세요.")

D
B
A
D
A
B
B
D
C
D
C
A
A

# 인공지능 테스트 4번

In [74]:
i = 1

In [82]:
sum = 0
for j in range(0, 10):
    sum = sum+i+j
    print(f"i의 값 : {i+j}, 합계 : {sum}")

i의 값 : 1, 합계 : 1
i의 값 : 2, 합계 : 3
i의 값 : 3, 합계 : 6
i의 값 : 4, 합계 : 10
i의 값 : 5, 합계 : 15
i의 값 : 6, 합계 : 21
i의 값 : 7, 합계 : 28
i의 값 : 8, 합계 : 36
i의 값 : 9, 합계 : 45
i의 값 : 10, 합계 : 55

# 인공지능 테스트 5번
 - 중국집 짜장면이 10,000원이면 입력 금액이 짜장면 한 그릇보다 많으면 구매가능 아니면 불가능으로 나타내라

In [88]:
Ja = int(10000)
pay = int(input("내실 돈을 입력해주세요."))
if(pay < Ja):
    print("구매가 불가능합니다.")
else:
    print("구매가 가능합니다.")

내실 돈을 입력해주세요.12000
구매가 가능합니다.

# 교수님 답

In [15]:
pay = int(input())
if pay >=10000:
    print("구매가능")
else:
    print("구매불가능")

10000
구매가능

# 인공지능 테스트 6번

In [16]:
department = input()
name = input()
age = int(input())
weight = int(input())

AI
서정원
25
183

In [19]:
print(f"저는 {department}학과이고 이름은 {name} 저의 나이는 {age} 저의 키는 {weight}입니다.")

저는 AI학과이고 이름은 서정원 저의 나이는 25 저의 키는 183입니다.

# 인공지능 테스트 7번
 - 점수의 합이 85점이 넘으면 시험에 합격했다고 문구 넣어서 print 해줘.

In [35]:
grades = [85, 90, 92, 78, 80, 95]

In [36]:
len(grades)

6

In [40]:
sum = 0
for i in grades:
    sum = sum + i
average = sum / len(grades)

In [41]:
average

86.66666666666667

In [42]:
if average >= 85:
    print("시험에 합격했습니다!")
elif average < 85:
    print("시험에 불합격했습니다.")
else:
    print("점수를 제대로 입력해주세요.")

시험에 합격했습니다!

# 교수님 답

In [44]:
grades = [85, 90, 92, 78, 80, 95]

In [43]:
sum = 0
count = 0

for grade in grades:
    sum=sum + grade
    count=count + 1

average = sum / count

if average > 85:
    print("축하합니다. 시험에 합격했습니다.")

축하합니다. 시험에 합격했습니다.