## float의 입력값을 받아 아래의 결과를 프린트하는 성적 계산기를 만들어라(if문 활용)
* A: 90이상-100이하
* B: 80이상-89이하
* C: 70이상-79이하
* D: 60이상-69이하
* F: 60보다 낮으면

In [5]:
grade = float(input("성적을 입력해주세요: "))

if grade >= 90:
    print("A학점입니다.")
elif grade >= 80:
    print("B학점입니다.")
elif grade >= 70:
    print("C학점입니다.")
elif grade >= 60:
    print("D학점입니다.")
elif grade < 60:
    print("F학점입니다.")
else:
    print("다시 입력해주세요.")

성적을 입력해주세요: 59
F학점입니다.

## 3, 6, 8, 9, 12, 15를 리스트로 만들고 리스트의 값들중 2로 나눴을때 나머지가 0인 숫자들을 하나의 리스트에 저장하고 이를 프린트하시오(for, if문 사용)

In [6]:
num = [3, 6, 8, 9, 12, 15]

two = []
for i in num:
    if i % 2 ==0:
        two.append(i)

print(two)

[6, 8, 12]

In [10]:
len(num)

6

## 3, 6, 8, 9, 12, 15를 리스트로 만들고 리스트의 값들중 2로 나눴을때 나머지가 0인 숫자들을 하나의 리스트에 저장하고 이를 프린트하시오(while, if문 사용)

In [15]:
num = [3, 6, 8, 9, 12, 15]

two = []
i = 0
while i < len(num):
    if num[i] % 2 ==0:
        two.append(num[i])
    i = i+1
        
print(two)

[6, 8, 12]

## 6, 12, 18, 20, 24, 30의 값을 하나의 리스트로 만들고 2의 배수와 3의 배수에 모두 해당하는 값을 하나의 리스트에 저장해 프린트하시오

In [17]:
num = [6, 12, 18, 20, 24, 30]
ok = []

for i in num:
    if (i % 2 == 0 and i % 3 == 0):
        ok.append(i)

print(ok)

[6, 12, 18, 24, 30]

## 3, 6, 8, 9, 12, 15의 값을 하나의 리스트에 저장하고 5보다 큰 값을 따로 하나의 리스트에 저장해 프린트하시오

In [18]:
num = [3, 6, 8, 9, 12, 15]
five = []

for i in num:
    if i > 5:
        five.append(i)
print(five)

[6, 8, 9, 12, 15]

## apple, banana, orange, pear, kiwi를 리스트에 저장하고, 단어의 길이가 5이상인 단어들만 하나의 리스트에 저장하고 이를 프린트하시오(for, if문 사용)

In [20]:
fruits = ["apple", "banana", "orange", "pear", "kiwi"]
over_five = []

for i in fruits:
    if len(i) > 5:
        over_five.append(i)
print(over_five)

['banana', 'orange']

## apple, banana, orange, pear, kiwi를 하나의 리스트로 만들고 e가 포함된 단어들만 따로 하나의 리스트에 저장해 프린트하시오(for, if문 사용)

In [22]:
fruits = ["apple", "banana", "orange", "pear", "kiwi"]
e_fruits = []

for i in fruits:
    if "e" in i:
        e_fruits.append(i)

print(e_fruits)

['apple', 'orange', 'pear']

## John, Jane, David, Jessica, Josh를 리스트에 저장하고, 이름 처음 시작하는 단어가 J인 이름만 하나의 리스트에 저장하고 이를 프린트하시오(for, if문 사용)

In [27]:
name = ["John", "Jane", "David", "Jessica", "Josh"]
j_name = []

for i in name:
    if i[0] == "J":
        j_name.append(i)
print(j_name)

['John', 'Jane', 'Jessica', 'Josh']

## 숫자 2, 14, 5, 7, 11, 9, 12, 15를 리스트로 만들고 리스트에서 10보다 크거나 2로 나눴을때 나머지가 1이 나오는 숫자만 프린트하시오(while, if 사용)

In [32]:
num = [2, 14, 5, 7, 11, 9, 12, 15]
ok = []

i = 0
while i < len(num):
    if num[i] > 10 and num[i] % 2 == 1:
        print(num[i])
    i += 1

11
15

## 하나의 빈 리스트를 만들고 input값을 넣었을때 이 input값이 양수이면 input값을 빈 리스트에 추가하고 음수이면 동작을 끝내고 리스트에 추가된 값들을 더해 프린트해라(while, if, break사용)

* 리스트의 모든 숫자를 더하는 함수 sum(리스트)

In [35]:
num = []

while True:
    input_num = int(input("정수를 입력해주세요."))
    
    if input_num > 0:
        num.append(input_num)
    elif input_num < 0:
        num.append(input_num)
        print(sum(num))
        break

정수를 입력해주세요.50
정수를 입력해주세요.-1
49

## password라는 변수에 특정 문자를 부여하고 해당 input()함수를 활용해 password에 해당되는 문자가 정확하게 입력 되었을 때, 로그인되었습니다. 라는 문장을 프린트후 while문을 종료해라 만약에 문자가 정확하게 입력되지 않으면 잘못된 패스워드 입니다. 라는 문장을 프린트해라(while, if, break 사용)

In [37]:
while True:
    password = input("패스워드를 입력해 주세요: ")
    if password == "seo":
        print("로그인되었습니다.")
        break
    else:
        print("잘못된 패스워드입니다.")

패스워드를 입력해 주세요: ㅇㄴㄷ
잘못된 패스워드입니다.
패스워드를 입력해 주세요: ㅂㅈㄷ
잘못된 패스워드입니다.
패스워드를 입력해 주세요: seo
로그인되었습니다.